<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_org.user_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @user_org.organization_id %>
</p>

<%= link_to 'Edit', edit_user_org_path(@user_org) %> |
<%= link_to 'Back', user_orgs_path %>
