<!--
    <div class="container">
<table>
  <td width='25%'>
<table style="float:left;">
  <div class="form-group">
  <tr>
    <td>

                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= devise_error_messages! %>



                  <%= image_tag @user.image.url, :class =>"img-rounded img-responsive",size: "250x250" %>
                  <%= f.file_field :image %>
</td>
</tr>
<div class="form-group">

<tr>
  <td>
                    <%= f.label :first_name%></td>
                <td>    <%= f.text_field :first_name, autofocus: true , :style =>'margin-bottom:4%; ', placeholder: resource.first_name%></td>
                </div>

</tr>
<tr>
<div class="form-group">
  <td>
                <%= f.label :last_name %></td>
                <td>      <%= f.text_field :last_name, autofocus: true,:style =>'margin-bottom:4%; ',  placeholder: resource.last_name%></td>
</div>

</tr>
<tr>
<div class="form-group">
      <td>           <%= f.label :email %> </td>
      <td>                <%= f.email_field :email, autofocus: true,:style =>'margin-bottom:4%;',placeholder: resource.email%> </td>
  </div>

</tr>

<tr>
  <div class="form-group">
    <td>          <%= f.label :city %></td>
    <td>                    <%= f.text_field :city, autofocus: true,:style =>'margin-bottom:4%;',  placeholder: resource.city%> </td>
                      </div>

</tr>
<tr>
  <div class="form-group">
  <td>            <%= f.label :state %>  </td>
  <td>            <%= f.text_field :state, autofocus: true, :style =>'margin-bottom:4%; ', placeholder: resource.state%> </td>
                        </div>

</tr>
<tr>
  <div class="form-group">
          <td >        <%= f.label :country %>



                    <%= f.country_select :country,
                             placeholder:
                            resource.country, :style =>'width:-10%;'%>       </td>
  </div>

</tr>
</div>

</table>
</td>
<td>
<br>
<table style="float:left; width:70%;">
<tr>
<td>

                    <div class="alert alert-info" style="width: 60%; height:15; margin-left:22%; margin-right:36%;">

                        <h2>Update My Profile </h2>



                    </div>

                    <div class="form-group col-md-8" style=" margin-bottom: 6%; margin-top:2%; width: 80%; float:right;">



                        <h3>Change Your Password</h3>


                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>

                        <label><%= f.label :current_password %> <i>(needed to confirm your changes)</i></label>
                        <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
                        <label><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></label>

                        <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
                        <label>  <%= f.label :password_confirmation %></label>
                        <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control"  %>
                      <br ><br>
                      <br ><br>


                <%= link_to "Back", root_path,class:"btn btn-warning"  %>
                <%= f.submit "Update", class:"btn btn-success" %>

                <h3>Cancel my account</h3>
                <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:"btn btn-warning" %>
  </div>

                <% end %>

              </br ><br>
</td>
</tr>
  </table>
</td>
</table>

            </div>
            <!-- ROW END -->



        <!-- SECTION END -->
    <!-- CONATINER END -->

    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE JQUERY FILE -->
    <!-- <script src="assets/js/jquery-1.11.1.js"></script> -->
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <!-- <script src="assets/js/bootstrap.js"></script> --> -->

    <div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>

          <input type="file" class="form-control">
        </div>
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a>
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Jane">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Bishop">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Company:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="janesemail@gmail.com">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Time Zone:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="user_time_zone" class="form-control">
                  <option value="Hawaii">(GMT-10:00) Hawaii</option>
                  <option value="Alaska">(GMT-09:00) Alaska</option>
                  <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                  <option value="Arizona">(GMT-07:00) Arizona</option>
                  <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                  <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                  <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                  <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="janeuser">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
