<h2>Sign up</h2>


<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">


<div class="" id="loginModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Have an Account?</h3>
	</div>
	<div class="modal-body">
		<div class="well">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#login" data-toggle="tab" >Login</a></li>
				<li><a href="#create" data-toggle="tab">Create Account</a></li>
			</ul>



        				<div class="tab-pane fade" id="create">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html =>{:multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field" style="color:black;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field" style="color:black;">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field" style="color:black;">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field" style="color:black;">
    <%= f.label :image %><br / >
    <%= f.file_field :image %><br />

  </div>

  				</div>




  <div class="actions" style="color:black;">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
