
<%=stylesheet_link_tag "application","bootstrap","font-awesome-min"%>



<!--
				<div class="text-box">
                	<p class="intro">Introducing</p>
                    <h2>Cevente</h2>
                    <h3>A personal secretary that handles your day to day events</h3>
										<% if current_user%>
										<p><%= link_to "Logout", destroy_user_session_path, :class=> "link-button"%><p>
											<% else %>
										<p><%= link_to "Login", new_user_session_path, :class=> "link-button"%><p>
											<%end%>
				</div> -->

				<!DOCTYPE html>




				    <title>Cevente</title>


				<body>

				    <!-- Navigation -->


				    <!-- Full Width Image Header with Logo -->
				    <!-- Image backgrounds are set within the full-width-pics.css file. -->
				    <header class="image-bg-fluid-height">
				        <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt="">
				    </header>

				    <!-- Content Section -->
				    <section>
				        <div class="container" style="height:80%;">
				            <div class="row">
				                <div class="col-lg-12">
				                  <center>  <h1 class="section-heading"> Cevente</h1> </center>
				              <center>      <p class="lead section-lead">A personal secretary that handles your day to day events</p> </center>

														<center>
												<% if current_user%>
														<p><%= link_to "Logout", destroy_user_session_path, :class=> "btn btn-primary active", :style=>"width:30%;" %><p>
															<% else %>
														<p><%= link_to "Login", new_user_session_path, :class=> "btn btn-primary active" , :style=>"width:30%;"%><p>
															<%end%>

													</center>

												</div>
				            </div>
				        </div>
				    </section>

				    <!-- Fixed Height Image Aside -->
				    <!-- Image backgrounds are set within the full-width-pics.css file. -->



				</body>

				</html>
