
<head>


    <!-- Bootstrap Core CSS -->

    <!-- Custom CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Explore
                    <small>Local  Events</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <% Event.all.each do |event| %>
<% if Location.find(event.location_id).country == current_user.country %>
        <!-- Project One -->
        <div class="row">
            <div class="span5">
                <a href="#">
                  <%= image_tag event.image.url, :class =>"img-rounded img-responsive",size: "200x200" %>
                </a>
            </div>
            <div class="span6">
                <h3><%= event.title%></h3>
                <h4><%= Location.find(event.location_id).city %>, <%= Location.find(event.location_id).country %></h4>
                <p><%= event.desc %></p>
              <%= link_to 'View Event',  event_path(event), class:"btn btn-primary" %>
            </div>
        </div>

                <hr>
        <!-- /.row -->
        <%end%>
<%end%>
      </div>



        <!-- Footer -->

    <!-- /.container -->

    <!-- jQuery -->
  <!--  <script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
  <!--  <script src="js/bootstrap.min.js"></script>-->

</body>
