
<head>


    <!-- Bootstrap Core CSS -->

    <!-- Custom CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!-- Page Heading -->
  <div class="container">
  <div class="row" >
          <h1 class="page-header">Page Heading
              <small>Secondary Text</small>
          </h1>
  </div>

  <% if Event.all.length == 0 %>

  <div class="row">

  </br>
</br>
<div class="well well-sm">
</br>
<h4 style="margin-left:20%; margin-right:20%;"><p style="color:red;"> It seems that there are no events in your area .... </p> </br><p> Click the button below and create a memorable event for you and your friends</p>  </h4>
</br>

<%= link_to "Create an event", "/events/new",class:"btn btn-primary", style:"width:16%; margin-left:42%; margin-right:42%; float:center;" %>
</br>

</div>
</div>
</br>
</br>
</br>
<% end %>
  <!-- /.row -->

    <!-- Page Content -->
    <% Event.all.each do |event| %>

<table>

        <!-- Project One -->
        <tr>
          <td style="width:30%;">
            <div class="span5">
                <a href="#">
                  <br>
                  <%= image_tag event.image.url, :class =>"img-rounded img-responsive",size: "300x300", :style => 'margin-left:10%; margin-bottom:10%; ' %>
                </a>

          </td>
          <td  style="width:70%;">
            <div style="margin-left: 11%; margin-right:11%;">
           <h3><%= event.title%></h3>
            <h4 style="width:100%;"><%= event.city %>, <%= event.country %></h4>
               <%= truncate(event.desc, length:80) %>
               <br>
                <%= link_to 'View Event',  event_path(event), class:"btn btn-primary",style:"margin-right:40%; margin-top:5%;" %>

              <br>
              <br>
            </div>
          </td>
        </div>

      </tr>
        <!-- /.row -->
      </table>
      <hr>

        <%end%>
      </div>


        <!-- Footer -->

    <!-- /.container -->

    <!-- jQuery -->
  <!--  <script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
  <!--  <script src="js/bootstrap.min.js"></script>-->

</body>
