
<head>


    <!-- Bootstrap Core CSS -->

    <!-- Custom CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

  <!-- Page Heading -->
  <div class="container">
  <div class="row" >
          <h1 class="page-header">Page Heading
              <small>Secondary Text</small>
          </h1>
  </div>
  <!-- /.row -->

    <!-- Page Content -->
    <% Event.all.each do |event| %>

<table>

        <!-- Project One -->
        <tr>
        <div class="row">
          <td>
            <div class="span5">
                <a href="#">
                  <br>
                  <%= image_tag event.image.url, :class =>"img-rounded img-responsive",size: "300x300", :style => 'margin-left:10%; margin-bottom:10%;' %>
                </a>
            </div>

          </td>
          <td>
            <div class="span6" style="margin-left: 11%; margin-right:11%;">
              <h3><%= event.title%></h3>
              <h4><%= Location.find(event.location_id).city %>, <%= Location.find(event.location_id).country %></h4>
                <p><%= event.desc %></p>
                <%= link_to 'View Event',  event_path(event), class:"btn btn-primary",style:"margin-right:40%; margin-left:40%;" %>

              <br>
              <br>
            </div>
          </td>
        </div>

      </tr>
        <!-- /.row -->
      </table>
      <hr>

        <%end%>
      </div>


        <!-- Footer -->

    <!-- /.container -->

    <!-- jQuery -->
  <!--  <script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
  <!--  <script src="js/bootstrap.min.js"></script>-->

</body>
