<div class="container">

<%= form_for @event, :html => { :class => "form-horizontal event", :multipart => true } do |f| %>

    <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

<table style="width:50%; float:left; margin-bottom:6%;">
<tr>

<td>  <br>     <%= f.label :title %> </td>
<td>   <br>      <%= f.text_field :title%> </td>
</tr>
<tr>
<td>
   <br>    <%= f.label :location_id  %></td>
<td>    <br>     <%= collection_select(:event, :location_id, Location.by_user(current_user), :id, :title)%>
 <!-- &nbsp <div class="glyphicon glyphicon-plus"></div><button id="popbox" onclick="div_show()"><%= link_to "Add New", class: 'open'%> </button> -->
</td>
</tr>


<tr>
<td>   <br>    <%= f.label :start_date %> </td>
<td>   <br>      <%= f.date_field :start_date %> </td>
</tr>
<tr>
<td>   <br>    <%= f.label :end_date %> </td>
<td>  <br>       <%= f.date_field :end_date %> </td>
</tr>

<tr>
  <td>  <br>   <%= f.label :desc %></td>
<td>  <br> <div style="max-width:20px;">  <%= f.text_area :desc %></div></td>
</tr>

</table>

<table style="width:50%; float:right; margin-bottom:6%;">
<tr>
<td>   <br>    <%= f.label :status %></td>
<td>  <br>       <%= f.text_field :status  %></td>
</tr>

<tr>

<td>   <br>    <%= f.label :free_food %> </td>
<td>    <br>     <%= f.check_box :free_food %> </td>
</tr>

<tr>
<td>   <br>    <%= f.label :event_type_id %></td>
<td>   <br>      <%= f.select(:event_type_id, ['Public', 'Private'], {}) %></td>
</tr>

<tr>
<td>   <br>    <%= f.label :rsvp_max , 'Maximum Number of RSVPs'%> </td>
<td>   <br>      <%= f.select :rsvp_max, options_for_select(0..500) %> </td>
</tr>
<tr>

<td>   <br>    <%= f.label :image %> </td>
<td>   <br>   <%= f.file_field :image %> </td>
</tr>
</table>



<br>
<br>

<div style="margin-left:60%; margin-bottom:6%; ">
</br>
  <%= f.submit :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            events_path, :class => 'btn btn-default' %>

          </div>

<% end %>
</div>
<!--

<script type='text/javascript'>
           $(document).ready(function(){
             $('.popbox').popbox();
           });
        </script>

        <script type='text/javascript'>

(function(){

  $.fn.popbox = function(options){
    var settings = $.extend({
      selector      : this.selector,
      open          : '.open',
      box           : '.box',
      arrow         : '.arrow',
      arrow_border  : '.arrow-border',
      close         : '.close'
    }, options);

    var methods = {
      open: function(event){
        event.preventDefault();

        var pop = $(this);
        var box = $(this).parent().find(settings['box']);

        box.find(settings['arrow']).css({'left': box.width()/2 - 10});
        box.find(settings['arrow_border']).css({'left': box.width()/2 - 10});

        if(box.css('display') == 'block'){
          methods.close();
        } else {
          box.css({'display': 'block', 'top': 10, 'left': ((pop.parent().width()/2) -box.width()/2 )});
        }
      },

      close: function(){
        $(settings['box']).fadeOut("fast");
      }
    };

    $(document).bind('keyup', function(event){
      if(event.keyCode == 27){
        methods.close();
      }
    });

    $(document).bind('click', function(event){
      if(!$(event.target).closest(settings['selector']).length){
        methods.close();
      }
    });

    return this.each(function(){
      $(this).css({'width': $(settings['box']).width()}); // Width needs to be set otherwise popbox will not move when window resized.
      $(settings['open'], this).bind('click', methods.open);
      $(settings['open'], this).parent().find(settings['close']).bind('click', function(event){
        event.preventDefault();
        methods.close();
      });
    });
  }

}).call(this);


</script>


                <div class='popbox'>

                  <div class='collapse'>
                    <div class='box'>
                      <div class='arrow'></div>
                      <div class='arrow-border'></div>
Hello
                      <a href="#" class="close">close</a>
                    </div>
                  </div>
                </div> -->
