<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cevente</title>

    <!-- Bootstrap Core CSS -->
    <link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">

    <!-- Custom CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="padding-top: 70px;">



    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My Events
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <% @events.each do |event| %>

        <div class="row">
            <div class="span5">
                <a href="#">
                <%= image_tag event.image.url, :class =>"img-rounded img-responsive",size: "200x200" %>

                </a>
            </div>
            <div class="span6">
                <h3><%= link_to event.title, event_path(event)  %></h3>
                <h4><%= event.location_id %></h4>
                <%= event.desc %><br/>
                <%= event.start_date %>
                <%= event.end_date %>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <% end %>


        <!-- Footer -->


    </div>
    <!-- /.container -->

    <!-- jQuery -->
  <!--  <script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
  <!--  <script src="js/bootstrap.min.js"></script>-->

</body>

</html>
