
<%- model_class = Event -%>

<body>



    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%=t '.title', :default => model_class.model_name.human.titleize %>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Item Row -->
<table style="margin-bottom:4%;" >
    <tr>
      <td>
                <img class="img-responsive">   <%=image_tag @event.image.url%> </img>
      </td>

      <td>
        <div style="margin-left:50%; width:120%">
                <h3>Project Description</h3>
                <p><%= @event.desc %></p>
                <h3>Project Details</h3>
                <ul>
  <% if @event.title != nil %>
                    <li>  <strong><%= model_class.human_attribute_name(:title) %>:</strong> &nbsp;&nbsp;<%= @event.title %></li>
<%end%>
  <% if @event.location_id != nil %>
                      <li><strong><%= model_class.human_attribute_name(:location_id) %>:</strong>&nbsp;&nbsp;<%= @location_for_map %></li>
<%end%>
  <% if @event.start_date != nil %>
                      <li><dt><strong><%= model_class.human_attribute_name(:start_date) %>;</strong> &nbsp;&nbsp;
                    <%= @event.start_date.to_date %></li>
                    <%end%>
                      <% if @event.end_date != nil %>
                    <li>  <dt><strong><%= model_class.human_attribute_name(:end_date) %>:</strong>&nbsp;&nbsp;
                    <%= @event.end_date.to_date %></li>
                    <%end%>
                      <% if @event.free_food != nil %>
                    <li>  <dt><strong><%= model_class.human_attribute_name(:free_food) %>:</strong>&nbsp;&nbsp;
                    <%= @event.free_food %></li>
                    <%end%>
                      <% if @event.status != nil %>
                    <li>  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong>&nbsp;&nbsp;
                    <%= @event.status %></li>
                    <%end%>
                      <% if @event.event_type_id != nil %>
                    <li>  <dt><strong><%= model_class.human_attribute_name(:event_type_id) %>:</strong>&nbsp;&nbsp;
                    <%= @event.event_type_id %></li>
                    <%end%>
                    <% if @event.num_views != nil %>

                    <li> <strong><%= model_class.human_attribute_name(:num_views) %>:</strong>&nbsp;&nbsp;
                    <%= @event.num_views %></li>
                    <%end%>
                    <% if @event.rsvp_max != nil %>
                  <li>   <strong><%= model_class.human_attribute_name(:rsvp_max) %>:</strong>&nbsp;&nbsp;
                    <%= @event.rsvp_max %></li>
<%end%>
</ul>



<p>  <strong> Status : </strong></p>
<%= link_to(@event.is_attending?(current_user) ? "Decline" : "Attend", rsvp_event_path(@event, {rsvp_status: @event.is_attending?(current_user) ? :declined : :attending}),class:"btn btn-primary btn-md") %>
</br>
                <% if current_user %>
                <% if current_user.id = @event.user_id %>
                <br>
                <p> invite your friends to this event </p><i>(Emails seperated by commas)</i>
                  <%= form_for :invitations , url: invite_event_path(@event) do |f| %>
                      <%=f.text_field :emails %>
                      <%= f.submit 'Send', class: 'btn btn-primary'%>
                <%end%>
                  <%end%>
                  <%end%>


</div>


</td>
</tr>        <!-- /.row -->
<tr>
<td>
  <br>
  <br>
  <br>
  <br>

          <div id="map-canvas">

<%= hidden_field_tag :search, params[:search], :id => 'search_box_geocoding', value: @location_for_map %>
  </div>
</td>
<td>
  <div style="margin-left:50%; width:120%">


<table>
  <tr>
    <th> <Strong> Attendees: <Strong> </th>
  </tr>
  <tr>
    <% @event.attendees.each do |user| %>
    <td>
      <p><%= user.first_name %> <%= user.last_name %> </p>
    </td>
    </tr>
    <% end %>
</table>



  </div>

</td>
</tr>
</table>

<div style="margin-left:42%; margin-bottom:6%;">

<%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(@event), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(@event),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

</div>

            </div>

            </body>
