<%- model_class = Event -%>

<body>



    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%=t '.title', :default => model_class.model_name.human.titleize %>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-2" style="width:50%; float:left;">
                <img class="img-responsive">   <%=image_tag @event.image.url%> </img>
            </div>
            <div class="col-md-4" style="width:50%; float:right;">
            </br>
                <h3>Project Description</h3>
                <p><%= @event.desc %></p>
                <h3>Project Details</h3>
                <ul>

                    <li>  <strong><%= model_class.human_attribute_name(:title) %>:</strong> &nbsp;&nbsp;<%= @event.title %></li>
                      <li><strong><%= model_class.human_attribute_name(:location_id) %>:</strong>&nbsp;&nbsp;<%= @location_for_map %></li>

                      <li><dt><strong><%= model_class.human_attribute_name(:start_date) %>;</strong> &nbsp;&nbsp;
                    <%= @event.start_date %></li>
                    <li>  <dt><strong><%= model_class.human_attribute_name(:end_date) %>:</strong>&nbsp;&nbsp;
                    <%= @event.end_date %></li>
                    <li>  <dt><strong><%= model_class.human_attribute_name(:free_food) %>:</strong>&nbsp;&nbsp;
                    <%= @event.free_food %></li>
                    <li>  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong>&nbsp;&nbsp;
                    <%= @event.status %></li>
                    <li>  <dt><strong><%= model_class.human_attribute_name(:event_type_id) %>:</strong>&nbsp;&nbsp;
                    <%= @event.event_type_id %></li>
                    <li> <strong><%= model_class.human_attribute_name(:num_views) %>:</strong>&nbsp;&nbsp;
                    <%= @event.num_views %></li>
                  <li>   <strong><%= model_class.human_attribute_name(:rsvp_max) %>:</strong>&nbsp;&nbsp;
                    <%= @event.rsvp_max %></li>


                </ul>


                <style>

                #map-container {
         height: 400px;
         border-radius: 16px 16px;
         border-color: #fff;
         border-style: solid;
         box-shadow: 2px 2px 10px #B1B1B1;
         margin-top: 25px;
         border-width: 7px;
       }
       #map-canvas {
         height: 384px;
         width: 100%;
       }

                </style>

            </div>




        </div>
        <!-- /.row -->
</br>
</br>
          <div id="map-canvas">
          </div>
<%= hidden_field_tag :search, params[:search], :id => 'search_box_geocoding', value: @location_for_map %>


<div style="margin-left:42%;">
</br>
</br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(@event), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(@event),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</br>
</br>
</br>
</br>
</div>

            </div>

            </body>
