

<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">




<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">




<body>
    <div id="login-overlay" class="modal-dialog" style="  background-color: #645862;">
      <div class="modal-content" style="width:30%; display: inline-block; margin-right: 10%; margin-left:5%; margin-top:6%;">

          <div class="body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div id="myTabContent" class="tab-content">
				<div class="tab-pane active in" id="login">
					<form class="form-horizontal" action='' method="POST">
						<fieldset>
							<div id="legend">
								<legend class="">Login</legend>
							</div>
              <div class="field" style="color:black;">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true %>
              </div>
</br>
              <div class="field" style="color:black;">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

</br>
                      <% if devise_mapping.rememberable? -%>
                        <div class="field" style="color:black;">
                      <div style="display: inline-block;">    <%= f.check_box :remember_me %></div>
                      <div style="display: inline-block;">      <%= f.label :remember_me %> </div>
                        </div>

</br>
							<div class="control-group">
								<!-- Button -->

                        <div class="actions">
                          <%= f.submit "Log in",class:"btn btn-success" %>
                        </div>

							</div>
						</fieldset>
					</form>
          <%= render "devise/shared/links" %>
          <% end %>


      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
<div class="modal-content" style="width: 50%; display: inline-block; margin-bottom: 10%; color:white;">

  <div>
                      <p class="lead">Register now for <span class="text-success">FREE</span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> See all events in your area</li>
                          <li><span class="fa fa-check text-success"></span> Check who is attending</li>
                          <li><span class="fa fa-check text-success"></span> Create your own event</li>
                          <li><span class="fa fa-check text-success"></span> Reunite with colleagues</li>
                      </ul>
                    </br>
                  </br>
                      <p><a href="/users/sign_up/" class="btn btn-info btn-block">Yes please, I want to Sign Up</a></p>
                  </div>
              </div>
          </div>
        </body>


<% end %>
