<%= form_for @location, :html => { :class => "form-horizontal location" } do |f| %>

    <% if @location.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<table style="width:40%; float:left; margin-left:5%; margin-bottom:5%;">
  <tr>
    <td>
    <%= f.label :title, :class => 'control-label' %>
  </td>
  <td>    <br>

      <%= f.text_field :title, :class => 'form-control' %>

    </td>
  </tr>

<tr>
  <td>
    <%= f.label :address1, 'Address Line 1', :class => 'control-label' %>
  </td>
  <td>
    <br>

      <%= f.text_field :address1, :class => 'form-control' %>
</td>
</tr>

<tr>
  <td>
    <%= f.label :address2,'Address line 2', :class => 'control-label' %>
  </td>
  <td>
    <br>

      <%= f.text_field :address2, :class => 'form-control' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :phone_num,'Phone Number', :class => 'control-label' %>
    </td>
    <td>
      <br>
        <%= f.text_field :phone_num, :class => 'form-control' %>
  </td>
  </tr>


</table>
<table style="width:45%; float:right; margin-right:5%; margin-bottom:5%;">
<tr>
  <td>

    <%= f.label :city, :class => 'control-label' %>
  </td>
  <td>
    <br>

      <%= f.text_field :city, :class => 'form-control' %>
</td>
</tr>

<tr>
  <td>

    <%= f.label :state, :class => 'control-label' %>

  </td>
  <td>
    <br>

      <%= f.text_field :state, :class => 'form-control' %>

</td>
</tr>

<tr>
<td>

    <%= f.label :zipcode, :class => 'control-label' %>
  </td>
  <td>
    <br>

      <%= f.text_field :zipcode, :class => 'form-control' %>
</td>
</tr>
<tr>
<td>

    <%= f.label :country, :class => 'control-label' %>
  </td>
  <td>
    <br>

      <%= f.country_select :country, :class => 'form-control' %>
</td>
</tr>

</table>
<br>
<div style="margin-left:40%; margin-bottom:5%;">
  <%= f.submit :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            locations_path, :class => 'btn btn-default' %>
          </div>

<% end %>
