<html>
<header>
  <%=stylesheet_link_tag "application","bootstrap","font-awesome-min"%>

<div class="navbar navbar-fixed-top" style="margin-top:14px; margin-bottom:10px;">

  <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->

<nav class="navbar navbar-inverse" style="background-color: #292c2f; border-radius: 0;">
  <div class="container-fluid">
    <div class="navbar-header">

   <%= link_to "Cevente", root_path, :class => 'navbar-brand', :style =>'margin-left:18%; color:white; letter-spacing: 1.5px;' %>
</div>

      <% if user_signed_in? %>

      <ul class="nav pull-right" style="margin-right:8%;">
                  <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" style="margin-top:12%; color:white; "> <span class="glyphicon glyphicon-align-justify"></span> </a>
                        <ul class="dropdown-menu">
                          <li>
                            <%= link_to "Home",home_path %>
                          </li>
                          <li>
                            <%= link_to "Create an event", "/events/new" %>
                          </li>
                          <li>
                            <%= link_to "My Events", events_path %>
                          </li>
                          <li>
                              <%= link_to "Edit Profile", "/users/edit" %>
                            </li>
                          <li>
                            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                          </li>
                      </ul>
                  </li>
           </ul>
           <% else %>
           <% end %>

  </div>
</nav>
</div>

</header>
</html>
