
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <b><%= link_to "Cevente", root_path, :class =>"brand" %></b>

      <ul class="nav pull-right">
                  <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" style="margin-top:10%;"> <span class="glyphicon glyphicon-align-justify"></span> </a>
                        <ul class="dropdown-menu">
                                <% if user_signed_in? %>
                          <li>
                            <%= link_to "Home","../welcome/studentindex" %>

                          </li>

                          <li>

                            <%= link_to "Create an event", "/events/new" %>

                          </li>

                          <li>
                            <%= link_to "My Events", events_path %>
                          </li>

                          <li>
                              <%= link_to "Edit Profile", "/users/edit" %>
                            </li>


                          <li><a href="#">

                            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                            <% end %>
                          </a></li>

                      </ul>
                  </li>





           </ul>

    </div>
  </div>
</div>
