<div class="navbar navbar-fixed-top">

<nav class="navbar navbar-inverse" style="background-color: #292c2f;">
  <div class="container-fluid">
    <div class="navbar-header">

   <%= link_to "Cevente", root_path, :class => 'navbar-brand', :style =>'margin-left:18%;' %>
</div>

      <% if user_signed_in? %>

      <ul class="nav pull-right" style="margin-right:8%;">
                  <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" style="margin-top:10%; "> <span class="glyphicon glyphicon-align-justify"></span> </a>
                        <ul class="dropdown-menu">
                          <li>
                            <%= link_to "Home","../welcome/studentindex" %>

                          </li>

                          <li>

                            <%= link_to "Create an event", "/events/new" %>

                          </li>

                          <li>
                            <%= link_to "My Events", events_path %>
                          </li>

                          <li>
                              <%= link_to "Edit Profile", "/users/edit" %>
                            </li>


                          <li>

                            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                          </li>

                      </ul>
                  </li>





           </ul>
           <% end %>

  </div>
</nav>
</div>
